@charset "UTF-8";

:root {
    --cor01: #6969ab;
    --cor02: #ffd416;

    --fonte1: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor01) url('imagens/espaço.jpg') no-repeat center center fixed;
    font: normal 1.2em var(--fonte1);

    height: 96vh;
    padding: 20px 10px 0px 10px;
}

main {
    background-color: black;
    color: white;

    max-width: 600px;
    padding: 10px;
    margin: auto;

    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
}

h1 {
    color: var(--cor02);
}