@charset "UTF-8";

body {
    font: normal 1.2em Arial, Helvetica, sans-serif;

}

#box {
    font: normal 1em Arial, Helvetica, sans-serif;
    background-color: lightgray;

    width: 200px;
    height: 10vh;

    border: 1px solid black;
    border-radius: 5px;

    line-height: 60px;
    text-align: center;
    display: inline-block;
}